# "C:\Users\Damini\Desktop\dataDam\Daminidata\Iris\Data\iris_dataset.csv"

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\Damini\\Desktop\\dataDam\\Daminidata\\Iris\\Notebook'

In [3]:
cwd=os.getcwd()
print(cwd)

C:\Users\Damini\Desktop\dataDam\Daminidata\Iris\Notebook

In [5]:
os.path.exists(cwd)

True

In [7]:
os.path.dirname(cwd)

'C:\\Users\\Damini\\Desktop\\dataDam\\Daminidata\\Iris'

In [8]:
os.path.join(cwd,"test")  #to join a path add any extra foloder in path

'C:\\Users\\Damini\\Desktop\\dataDam\\Daminidata\\Iris\\Notebook\\test'

In [10]:
os.mkdir("test")    # to create a new folder

In [11]:
os.mkdir("../test")    #create a folder one directory back relative path

In [12]:
os.mkdir("../../note")

In [13]:
import pandas as pd

In [18]:
path="../data/iris_dataset.csv"
df=pd.read_csv(path)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [20]:
df.head(15)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [22]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
df["sepal_length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [24]:
df["sepal_length"].head(3)

0    5.1
1    4.9
2    4.7
Name: sepal_length, dtype: float64

In [26]:
df.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [27]:
df[0]

KeyError: 0

In [29]:
df['sepal_length'].head(5).tolist()

[5.1, 4.9, 4.7, 4.6, 5.0]